<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <!-- Default Meta descriptions -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jitesh Modi">
    <meta name="description" content="{% block description %}Mammas Cakes - fresh and quality cakes for several occasions!{% endblock %}">
    <meta name="keywords" content="{% block keywords %}cakes, birthday, wedding, parties {% endblock %}">
    {% endblock %}
    
    <title>{% block title %}Mammas-Cakes{% endblock %}</title>
    

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    {% block extra_css %}
    <!-- Additional CSS can be added here -->
    {% endblock %}
</head>

<body>
    {% block header %}
    <header>
        <!-- Common header content -->
    </header>
    {% endblock %}

    <main>
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>

    {% block footer %}
    <footer>
        <footer class="container purple-bg text-black pt-4 pb-2 mt-4">
        <div class="row">
            <div class="col-md-6">
                <h4>About Mammas Cakes</h4>
                <p class="small">Mammas Cakes is a premium bakery that has established itself as a leader in the
                    industry. With
                    a rich history spanning several decades, their expertise and commitment to quality shine through
                    in
                    every creation. From intricately designed wedding cakes to mouthwatering treats. Mammas Cakes
                    continuously delights customers with their exceptional craftsmanship and delicious flavors.
                </p>
            </div>
        <!-- Contact us form page -->
            <div class="col-6 col-md-3">
                <a class="d-block text-black text-decoration-none" href="{% url 'contact' %}">
                    <h4 class="link">Contact Us</h4>
                </a>


    </footer>
    {% endblock %}

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    {% block extra_js %}
    <!-- Additional JavaScript can be added here -->
    {% endblock %}
</body>
<header class="container">
    <div class="row text-center baner-anim pink-bg text-black"></div>
    <div class="anim">
    <p class="logo-font my-2 ms-0">Order by 4PM for next day delivery</p>
    </div>
        
        <!-- Banner -->


</html>
