{% load static %}
{% extends 'cakes/base.html' %}

{% block title %}Welcome to Mammas Cakes{% endblock %}
{% block description %}Premium bakery offering fresh birthday cakes, wedding cakes, treats and vegan options{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="display-4 logo-font mb-4">Welcome to Mammas Cakes</h1>
            <p class="lead mb-4">Premium bakery offering fresh birthday cakes, wedding cakes, treats and vegan options</p>
        </div>
    </div>
</div>
{% endblock %}